{% extends 'base.html' %}

{% block content %}

{% for wynikiencja in wyniki %}
<section class="oferta" id="oferta">
<!-- 		<div class="title white">
			<h2 class="titleText"> <span>M</span>oje tuzy<span>.</span></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div> -->
			<div class="d-flex justify-content-center" >
				<div>
					{% for i in zawody_nazwa %}
						{% if forloop.counter == forloop.parentloop.counter %}
						<h3>{{ i }}</h3>
						{% endif %}
					{% endfor %}

				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-auto">
					<table class="table table-hover table-bordered table-responsive mx-auto w-auto align-middle md:text-center">
						<thead class="table-secondary">
							<tr>
								<td class="league_table"><b>Zawodnik</b></td>
								<td class="league_table"><b>X</b></td>
								<td class="league_table"><b>/</b></td>
								<td class="league_table"><b>9</b></td>
								<td class="league_table"><b>8</b></td>
								<td class="league_table"><b>7</b></td>
								<td class="league_table"><b>6</b></td>
								<td class="league_table"><b>5</b></td>
								<td class="league_table"><b>4</b></td>
								<td class="league_table"><b>3</b></td>
								<td class="league_table"><b>2</b></td>
								<td class="league_table"><b>1</b></td>
								<td class="league_table"><b>Suma</b></td>
								<td class="league_table"><b>Edycja</b></td>

							</tr>
						</thead>
						{% for osoba in wynikiencja %}
						<tr>
							<td class="league_table">{{osoba.zawodnik}}</td>
							<td class="editable" data-id="{{ osoba.id }}" data-type="X">{{osoba.X}}</td>
							<td class="editable" data-id="{{ osoba.id }}" data-type="Xx">{{osoba.Xx}}</td>
							<td class="editable" data-id="{{ osoba.id }}" data-type="dziewiec">{{osoba.dziewiec}}</td>
							<td class="editable" data-id="{{ osoba.id }}" data-type="osiem">{{osoba.osiem}}</td>
							<td class="editable" data-id="{{ osoba.id }}" data-type="siedem">{{osoba.siedem}}</td>
							<td class="editable" data-id="{{ osoba.id }}" data-type="szesc">{{osoba.szesc}}</td>
							<td class="editable" data-id="{{ osoba.id }}" data-type="piec">{{osoba.piec}}</td>
							<td class="editable" data-id="{{ osoba.id }}" data-type="cztery">{{osoba.cztery}}</td>
							<td class="editable" data-id="{{ osoba.id }}" data-type="trzy">{{osoba.trzy}}</td>
							<td class="editable" data-id="{{ osoba.id }}" data-type="dwa">{{osoba.dwa}}</td>
							<td class="editable" data-id="{{ osoba.id }}" data-type="jeden">{{osoba.jeden}}</td>
							<td class="editablee" data-id="{{ osoba.id }}" data-type="wynik">{{osoba.wynik}}</td>
							<td><a href="{% url 'wyniki_edit' osoba.id %}"class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Edytuj</a></td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>

		
	</section>
{% endfor %}





{% endblock %}


