{% extends 'base.html' %}

{% block content %}


<section class="oferta" id="oferta">
<!-- 		<div class="title white">
			<h2 class="titleText"> <span>M</span>oje tuzy<span>.</span></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div> -->

{% for encjawyniki in wyniki %}
	
			<div class="d-flex justify-content-center" >
				<div>
					{% for i in zawody_nazwa %}
						{% if forloop.counter == forloop.parentloop.counter %}
						<h3>{{ i }}</h3>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-auto">
					<table class="table table-hover table-bordered table-responsive mx-auto w-auto align-middle md:text-center">
						<thead class="table-secondary">
							<tr>
								<td class="league_table"><b>Zawodnik</b></td>
								<td class="league_table"><b>X</b></td>
								<td class="league_table"><b>/</b></td>
								<td class="league_table"><b>9</b></td>
								<td class="league_table"><b>8</b></td>
								<td class="league_table"><b>7</b></td>
								<td class="league_table"><b>6</b></td>
								<td class="league_table"><b>5</b></td>
								<td class="league_table"><b>4</b></td>
								<td class="league_table"><b>3</b></td>
								<td class="league_table"><b>2</b></td>
								<td class="league_table"><b>1</b></td>
								<td class="league_table"><b>Suma</b></td>
								{% if user.is_superuser %}
								<td class="league_table"><b>Usuń z konkurencji</b></td>
								{% endif %}
							</tr>
						</thead>
						{% for osoba in encjawyniki %}
						<tr>
							<td class="league_table">{{osoba.zawodnik}}</td>
							<td class="league_table">{{osoba.X}}</td>
							<td class="league_table">{{osoba.Xx}}</td>
							<td class="league_table">{{osoba.dziewiec}}</td>
							<td class="league_table">{{osoba.osiem}}</td>
							<td class="league_table">{{osoba.siedem}}</td>
							<td class="league_table">{{osoba.szesc}}</td>
							<td class="league_table">{{osoba.piec}}</td>
							<td class="league_table">{{osoba.cztery}}</td>
							<td class="league_table">{{osoba.trzy}}</td>
							<td class="league_table">{{osoba.dwa}}</td>
							<td class="league_table">{{osoba.jeden}}</td>
							<td class="league_table">{{osoba.wynik}}</td>
							{% if user.is_superuser %}
							<td> <a href="{% url 'konkurencja_delete' osoba.id %}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Usuń zawodnika</a></td>
							{% endif %}
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			<div class="d-flex justify-content-center" >
				<div>
					{% for j in sedziowie %}
						{% if forloop.counter == forloop.parentloop.counter %}
							{% for k in j %}
								<p>Sędzia: {{k.0}} {{k.1}}</p>
							{% endfor %}
						{% endif %}
					{% endfor %}
				</div>
			</div>
			<br>
{% endfor %}

			<div class="d-flex justify-content-center" >
				<div>
					<h3>Klasyfikacja generalna</h3>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-auto">
					<table class="table table-hover table-bordered table-responsive mx-auto w-auto align-middle md:text-center">
						<thead class="table-secondary">
							<tr>
								<td class="league_table"><b>Zawodnik</b></td>
								<td class="league_table"><b>X</b></td>
								<td class="league_table"><b>/</b></td>
								<td class="league_table"><b>9</b></td>
								<td class="league_table"><b>8</b></td>
								<td class="league_table"><b>7</b></td>
								<td class="league_table"><b>6</b></td>
								<td class="league_table"><b>5</b></td>
								<td class="league_table"><b>4</b></td>
								<td class="league_table"><b>3</b></td>
								<td class="league_table"><b>2</b></td>
								<td class="league_table"><b>1</b></td>
								<td class="league_table"><b>Suma</b></td>
							</tr>
						</thead>
						{% for osoba in klasyfikacja_generalna %}
						<tr>
							<td class="league_table">{{osoba.zawodnik}}</td>
							<td class="league_table">{{osoba.X}}</td>
							<td class="league_table">{{osoba.Xx}}</td>
							<td class="league_table">{{osoba.dziewiec}}</td>
							<td class="league_table">{{osoba.osiem}}</td>
							<td class="league_table">{{osoba.siedem}}</td>
							<td class="league_table">{{osoba.szesc}}</td>
							<td class="league_table">{{osoba.piec}}</td>
							<td class="league_table">{{osoba.cztery}}</td>
							<td class="league_table">{{osoba.trzy}}</td>
							<td class="league_table">{{osoba.dwa}}</td>
							<td class="league_table">{{osoba.jeden}}</td>
							<td class="league_table">{{osoba.wynik}}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>

		{% if request.user.username == 'admin' %}
			<div class="d-flex justify-content-center" >
				<div>
					<a href="{% url 'exportexcel' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
						Eksport excel
					</a>
				</div>
			</div>
		{% endif %}
	</section>




{% endblock %}


