	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<style type="text/css">
		body {
		  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
		}

		.container {
		  max-width: 960px;
		}

		.pricing-header {
		  max-width: 700px;
		}
		.table td.fit, 
		.table th.fit {
    	/*white-space: nowrap;*/
    	width: 1px;
		}
		.flexy
		{
			margin-left: auto;
			margin-right: auto;
		}

			/* Add a black background color to the top navigation */
		.topnav {
		  position: relative;
		  background-color: #333;
		  overflow: hidden;
		}

		/* Style the links inside the navigation bar */
		.topnav a {
		  float: left;
		  color: #f2f2f2;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		  font-size: 17px;
		}

		/* Change the color of links on hover */
		.topnav a:hover {
		  background-color: #ddd;
		  color: black;
		}

		/* Add a color to the active/current link */
		.topnav a.active {
		  background-color: #04AA6D;
		  color: white;
		}

		/* Centered section inside the top navigation */
		.topnav-centered a {
		  float: none;
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		}

		/* Right-aligned section inside the top navigation */
		.topnav-right {
		  float: right;
		}

		/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
		@media screen and (max-width: 600px) {
		  .topnav a, .topnav-right {
		    float: none;
		    display: block;
		  }

		  .topnav-centered a {
		    position: relative;
		    top: 0;
		    left: 0;
		    transform: none;
		  }

	}
	</style>



	<div class="centered">


      
      <div class="topnav">
	      {% if request.user.is_authenticated %}
		      <!-- <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto"> -->
		     <span class="badge badge-light badge-secondary">
        		
        		<h4>Witaj! Jesteś zalogowany jako	{{request.user.username}}</h4>
        		
    		</span>
		      <div class="topnav-right">
		        <a href="{% url 'home' %}">Strona domowa</a>
		        <a href="{% url 'logout'%}">Wylogowanie</a>
		        <a href="{% url 'wyniki'%}">Wyniki</a>
		        {% if request.user.id in sedziowie_lista %}
		        <a  href="{% url 'wyniki_edycja'%}">Edytuj Wyniki</a>
		        {% endif %}
		        <a href="{% url 'rejestracja_na_zawody'%}">Rejestracja na zawody</a>
	        {% else %}
	        	<a href="{% url 'home' %}">Strona domowa</a>
		        <a href="{% url 'register'%}">Zarejestruj się</a>
		        <a href="{% url 'login'%}">Logowanie</a>
		    {% endif %}
	      </div>
	    </div>
    </div>






