{% extends "base.html" %}
{% load tailwind_filters %}
{% block content %}
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Użytkownicy</h1>
    </div>
    <div class="col-auto">
      <table class="table table-hover table-bordered table-responsive mx-auto w-auto align-middle md:text-center">
      	<thead class="table-secondary">
        	<tr>
				<td class="league_table"><b>Email</b></td>
				<td class="league_table"><b>Username</b></td>
				<td class="league_table"><b>Imie</b></td>
				<td class="league_table"><b>Nazwisko</b></td>
				<td class="league_table"><b>Licencja</b></td>
				<td class="league_table"><b>Klub</b></td>
				<td class="league_table"><b>Opłata</b></td>
				<td class="league_table"><b>RTS</b></td>
				<td class="league_table"><b>Edycja</b></td>
				<td class="league_table"><b>Usuń</b></td>
			</tr>
		</thead>
        	{% for osoba in object_list %}
        	<tr>
	            <td class="league_table">{{ osoba.email }}</td>
	        	<td class="league_table">{{ osoba.username }}</td>
	        	<td class="league_table">{{ osoba.imie }}</td>
	        	<td class="league_table">{{ osoba.nazwisko }}</td>
	        	<td class="league_table">{{ osoba.licencja }}</td>
	        	<td class="league_table">{{ osoba.klub }}</td>
	        	<td class="league_table">
	        		<label class="inline-flex items-center">
	        			<input type="checkbox" {% if osoba.paid == 1 %} checked="checked" {% endif %} onclick="return false">
	        		</label>
	        	</td>
	        	<td class="league_table">
	        		<label class="inline-flex items-center">
	        			<input type="checkbox" {% if osoba.rts == 1 %} checked="checked" {% endif %} onclick="return false">
	        		</label>
	        	</td>
				<td><a href="{% url 'account_edit' osoba.id %}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Edytuj użytkownika</a></td>
				<td><a href="{% url 'account_delete' osoba.id %}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Usuń użytkownika</a></td>
			</tr>	
        	{% endfor %}
      </table>
    </div>
	<div class="d-flex justify-content-center" >
		<div>
			<a href="{% url 'register_no_login' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Dodaj użytkownika</a>
		</div>
	</div>
  </div>
</section>



{% endblock content %}


