<!DOCTYPE html>
<html>
	

	<head>
		<title>Zawody strzeleckie</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

		{% include 'snippets/header.html' %}

	</head>
	<body>
		<style type="text/css">
			.main{
				/*min-height: 100vh;*/
				height: 100%;
			}
			body
			{
				/*height: 100vh;*/
			}
			html
			{
				min-height: 100%;
			}
		</style>

		{% block content %}
		
		{% endblock content %}

		{% include 'snippets/footer.html' %}
	</body>


</html>
